<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>Shop</span>
    </h1>
  </div>

  <h3>The essential Pickelball training equipment</h3>
  <div class="card-group">
    <div class="card" style="width: 18rem">
      <div class="card-header">Paddle Set</div>

      <iframe
        sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
        style="width: 120px; height: 240px"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=fujinguyen-20&language=en_US&marketplace=amazon&region=US&placement=B07GVDXW5D&asins=B07GVDXW5D&linkId=8ec4fcd14ea39dc8caf9b395e8a239a7&show_border=false&link_opens_in_new_window=true"
      ></iframe>

      <div class="card-body">
        <p class="card-text">
          Starter pickleball set, passed USAPA testing and approved for sanctioned tournament play.
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-header">Ball 100-Pack</div>
      <iframe
        sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
        style="width: 120px; height: 240px"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=fujinguyen-20&language=en_US&marketplace=amazon&region=US&placement=B074PD873C&asins=B074PD873C&linkId=be7a53ed6fc34bda5a2377255d746bf2&show_border=false&link_opens_in_new_window=true"
      ></iframe>
      <div class="card-body">
        <p class="card-text">
          Bring 20-50 balls to practice drill so you and your partner have productive drill time vs chasing out ball.
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-header">Ball Hopper</div>
      <iframe
        sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
        style="width: 120px; height: 240px"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=fujinguyen-20&language=en_US&marketplace=amazon&region=US&placement=B07G72DTSK&asins=B07G72DTSK&linkId=0c7264a69a7ed75029561c8c2213808a&show_border=false&link_opens_in_new_window=true"
      ></iframe>
      <div class="card-body">
        <p class="card-text">
          The Gamma hopper can easily pick up and hold 50 standard size pickle balls. There is no need to chase every
          ball that goes out of bounds.
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-header">Pickup Tube</div>

      <iframe
        sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
        style="width: 120px; height: 240px"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=fujinguyen-20&language=en_US&marketplace=amazon&region=US&placement=B07H8SB8C1&asins=B07H8SB8C1&linkId=fcb06e84b5ca8f5bf7b3c6ec032270f0&show_border=false&link_opens_in_new_window=true"
      ></iframe>

      <div class="card-body">
        <p class="card-text">
          No more bending and reaching for pickle balls. The tube effortlessly retrieves, stores and transports pickle
          balls.
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-header">Pickleball Net</div>
      <iframe
        sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
        style="width: 120px; height: 240px"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=fujinguyen-20&language=en_US&marketplace=amazon&region=US&placement=B07XMKF4NM&asins=B07XMKF4NM&linkId=02bac86c0060de4874be5ba58ed23948&show_border=false&link_opens_in_new_window=true"
      ></iframe>
      <div class="card-body">
        <p class="card-text">
          This easy-assemble pickleball net is built on wheels for easy maneuverability and comes with a premium travel
          bag.
        </p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-header">Water Bottle</div>
      <iframe
        sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
        style="width: 120px; height: 240px"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=fujinguyen-20&language=en_US&marketplace=amazon&region=US&placement=B072QRW9KH&asins=B072QRW9KH&linkId=cbe70f297a11fc317081b9cbd77d93a0&show_border=false&link_opens_in_new_window=true"
      ></iframe>
      <div class="card-body">
        <p class="card-text">Fill and refill your bottle and take it with you to the practice drills.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem">
      <div class="card-header">Baseball Cap</div>

      <iframe
        sandbox="allow-popups allow-scripts allow-modals allow-forms allow-same-origin"
        style="width: 120px; height: 240px"
        marginwidth="0"
        marginheight="0"
        scrolling="no"
        frameborder="0"
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=fujinguyen-20&language=en_US&marketplace=amazon&region=US&placement=B07W5KC7JJ&asins=B07W5KC7JJ&linkId=cb893b50fd14e8c1bf5bc4b0a934276f&show_border=false&link_opens_in_new_window=true"
      ></iframe>

      <div class="card-body">
        <p class="card-text">
          Protect your skin from harmful UV rays and keep your hair out of your face and eyes by wearing this
          comfortable baseball cap.
        </p>
      </div>
    </div>
  </div>
</div>
