<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>
      <span translate>APP_NAME</span>
    </h1>
    <p><i class="far fa-bookmark"></i> <span translate>Version</span> {{ version }}</p>
  </div>
  <p>
    <strong>I want to improve my Pickcleball game. What should I work on?</strong> Try <span translate>APP_NAME</span>,
    a free, simple, easy-to-use Pickleball Skill Assessment app. It helps to identify skill gaps so players can focus on
    training development. For definition of Player Skill Ratings, please visit
    <a
      href="https://usapickleball.org/tournaments/tournament-player-ratings/player-skill-rating-definitions/"
      target="_blank"
      >USA Pickleball</a
    >
  </p>

  <!-- <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <youtube-player videoId="rxBbvfLSn0o" class="card-img-top" width="100%"></youtube-player>
        <div class="card-body">
          <h5 class="card-title">What's My Level?</h5>
          <p class="card-text">
            Find out what's your Pickleball Level with Lisa Dollard. For more information, you can visit us at
            leveluppickleballcamps.com
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Video by</strong>
              <a href="https://www.youtube.com/@pickleballmagazine7540" class="card-link">Pickleball Magazine</a>
            </li>
            <li class="list-group-item"><strong>Published on</strong> Oct 19, 2020</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <youtube-player videoId="uROStRWqkIU" class="card-img-top" width="100%"></youtube-player>
        <div class="card-body">
          <h5 class="card-title">Pickleball Skill Ratings Meanings</h5>
          <p class="card-text">
            Have you ever wondered what each rating means in Pickleball? Whether it be a 3.0 or 4.0, I go into detail on
            what type of skill is/should be required at each number.
          </p>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <strong>Video by</strong>
              <a href="https://www.youtube.com/@TylerLoong" class="card-link">Tyler Ka Ching Loong</a>
            </li>
            <li class="list-group-item"><strong>Published on</strong> Oct 11, 2020</li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->

  <h3>Contact</h3>
  Do you have any tips or suggestions to improve Pickleball app? Feel free to Post or Message.
  <uL>
    <li><a href="https://www.facebook.com/profile.php?id=100086898597774">Pickleball Page on Facebook</a></li>
    <li>
      <a
        href="https://medium.com/pickleball/pickleball-skill-assessment-app-PickleIQ-get-started-6b0524562f1c?sk=000e8aafef7ccffafaac909afe5df78f"
        >Pickleball Blog on Medium</a
      >
    </li>
  </uL>
  <!--
  <hr />
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="Access Token">
      <ng-template ngbPanelContent>
        {{ this.accessToken }}
      </ng-template>
    </ngb-panel>
    <ngb-panel>
      <ng-template ngbPanelTitle> Id Token </ng-template>
      <ng-template ngbPanelContent>
        {{ this.idToken }}
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Identity Claims">
      <ng-template ngbPanelContent>
        {{ this.identityClaims }}
      </ng-template>
    </ngb-panel>
    <ngb-panel title="Roles">
      <ng-template ngbPanelContent>
        {{ this.role }}
      </ng-template>
    </ngb-panel>
  </ngb-accordion> -->
</div>
