<div class="card-group my-3">
  <div class="card">
    <a class="card-link nounderline" routerLink="/rating/level20" [state]="model20">
      <div class="card-body card-body-small">
        <i class="fas fa-clipboard-list fa-2x text-primary"></i>
        <h2 class="d-flex pl-3 font-weight-light text-dark text-nowrap">{{ model20['level'] }}</h2>
      </div>
    </a>
  </div>

  <div class="card">
    <a class="card-link nounderline" routerLink="/rating/level25" [state]="model25">
      <div class="card-body">
        <i class="fas fa-clipboard-list fa-2x text-secondary"></i>
        <h2 class="d-flex pl-3 font-weight-light text-dark text-nowrap">{{ model25['level'] }}</h2>
      </div>
    </a>
  </div>
  <div class="card">
    <a class="card-link nounderline" routerLink="/rating/level30" [state]="model30">
      <div class="card-body">
        <i class="fas fa-clipboard-list fa-2x text-success"></i>
        <h2 class="d-flex pl-3 font-weight-light text-dark">{{ model30['level'] }}</h2>
      </div>
    </a>
  </div>
  <div class="card">
    <a class="card-link nounderline" routerLink="/rating/level35" [state]="model35">
      <div class="card-body">
        <i class="fas fa-clipboard-list fa-2x text-danger"></i>
        <h2 class="d-flex pl-3 font-weight-light text-dark">{{ model35['level'] }}</h2>
      </div>
    </a>
  </div>
  <div class="card">
    <a class="card-link nounderline" routerLink="/rating/level40" [state]="model40">
      <div class="card-body">
        <i class="fas fa-clipboard-list fa-2x text-info"></i>
        <h2 class="d-flex pl-3 font-weight-light text-dark">{{ model40['level'] }}</h2>
      </div>
    </a>
  </div>
  <div class="card">
    <a class="card-link nounderline" routerLink="/rating/level45" [state]="model45">
      <div class="card-body">
        <i class="fas fa-clipboard-list fa-2x text-dark"></i>
        <h2 class="d-flex pl-3 font-weight-light text-dark">{{ model45['level'] }}</h2>
      </div>
    </a>
  </div>
  <div class="card">
    <a class="card-link nounderline" routerLink="/rating/level50" [state]="model50">
      <div class="card-body">
        <i class="fas fa-clipboard-list fa-2x text-muted"></i>
        <h2 class="d-flex pl-3 font-weight-light text-dark">{{ model50['level'] }}</h2>
      </div>
    </a>
  </div>
</div>
